.todo-list {
  /* transition: transform 3s; */
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 600px;

  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.4),
    -7px -7px 12px rgba(255, 255, 255, 0.9);
}
